body {
  font: 10px Arial;
  display: flex;
  justify-content: space-around;
}
body .chartContainer {
  display: flex;
  flex-direction: column;
  height: 93vh;
}
body .chartContainer #chartTop {
  height: 70%;
  border-bottom: 2px solid;
}
body .chartContainer #chartBottom {
  height: 30%;
}
.view {
  fill: rgba(255, 255, 255, 0.2);
}
.axis path {
  display: none;
}
.axis line {
  stroke-opacity: 0.3;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.line2 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
text {
  font-size: 12px;
  font-family: sans-serif;
  text-anchor: middle;
  dy: 1em;
}
button {
  height: 50px;
  font-size: 20px;
}
.circleDrawn,
.score {
  margin: 20px;
  display: block;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background: lightblue;
}
.delete {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  font: 21px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
.panel {
  background: lightgray;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  text-align: center;
}
.panel > h1 {
  font-size: 25px;
}
.panel > div,
button {
  margin-bottom: 15px;
}
.action {
  display: flex;
}
.confirm {
  flex: 1;
  font-size: 24px;
}
.yes,
.no {
  flex: 1;
  cursor: pointer;
}
.circleFocus {
  fill: none;
  stroke: steelblue;
  r: 4;
}
#rect,
#rect2 {
  fill: none;
  pointer-events: all;
}
.newlines {
  fill: none;
  stroke: steelblue;
}
.newlines.l-0.pos {
  stroke: #a4fba6;
}
.newlines.l-0.neg {
  stroke: #730000;
}
.newlines.l-1.pos {
  stroke: #4ae54a;
}
.newlines.l-1.neg {
  stroke: #670000;
}
.newlines.l-2.pos {
  stroke: #30cb00;
}
.newlines.l-2.neg {
  stroke: #5c0000;
}
.newlines.l-3.pos {
  stroke: #0f9200;
}
.newlines.l-3.neg {
  stroke: #500000;
}
.newlines.l-4.pos {
  stroke: #006203;
}
.newlines.l-4.neg {
  stroke: #450000;
}
.clickedCircle {
  r: 4;
}
.clickedCircle.l-0.pos {
  fill: #a4fba6;
}
.clickedCircle.l-0.neg {
  fill: #730000;
}
.clickedCircle.l-1.pos {
  fill: #4ae54a;
}
.clickedCircle.l-1.neg {
  fill: #670000;
}
.clickedCircle.l-2.pos {
  fill: #30cb00;
}
.clickedCircle.l-2.neg {
  fill: #5c0000;
}
.clickedCircle.l-3.pos {
  fill: #0f9200;
}
.clickedCircle.l-3.neg {
  fill: #500000;
}
.clickedCircle.l-4.pos {
  fill: #006203;
}
.clickedCircle.l-4.neg {
  fill: #450000;
}
.positive,
.negative {
  font-size: 16px;
}
