body {
  font-family: 'Roboto', sans-serif;
}
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav > li {
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;
  background: #598527;
}
.navbar .nav > li a {
  line-height: 2.5;
}
.navbar .nav.navbar-nav .nav-item > a:hover {
  background-color: #F00;
}
.navbar .nav.navbar-nav .nav-item > ul > .megamenu > li:hover {
  background-color: #00F;
}
.navbar .nav.navbar-nav .nav-link {
  color: #fff;
}
.navbar .nav.navbar-nav .nav-link:hover {
  color: #345A09;
}
* > .fa.fa-caret-up,
*:hover > .fa.fa-caret-down {
  display: none;
}
*:hover > .fa.fa-caret-up {
  display: inline-block;
}
.menu-large {
  color: #345A09;
  position: static !important;
}
.menu-large:hover {
  background: #e9fbce !important;
}
.menu-large .dropdown-menu {
  color: #345A09;
  background: #e9fbce;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.menu-large .dropdown-menu.megamenu {
  padding: 15px;
  width: 100%;
  overflow: hidden;
  max-height: 200px;
  display: block;
}
.menu-large .dropdown-menu.megamenu li {
  color: #345A09;
  overflow: hidden;
}
.menu-large .dropdown-menu.megamenu li.slide {
  border-left: 1px solid #345A09;
}
.menu-large .dropdown-menu.megamenu li .slideshow {
  display: flex;
}
.menu-large .dropdown-menu.megamenu li .slideshow > img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  padding: inherit;
  margin-right: 8px;
}
.menu-large .dropdown-menu.megamenu li .slideshow.text {
  display: flex;
  flex-direction: column;
}
.menu-large .dropdown-menu.megamenu li ul {
  padding: 0;
  margin: 0;
}
.menu-large .dropdown-menu.megamenu li ul li {
  list-style: none;
  margin: 5px;
}
.menu-large .dropdown-menu.megamenu li ul li a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #345A09;
  white-space: normal;
  text-decoration: none;
}
.menu-large .dropdown-menu.megamenu li ul li a:hover {
  color: white;
  background: #63A814;
  border-radius: 3px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .navbar .nav > li {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu li {
    margin-bottom: 30px;
  }
  .megamenu li:last-child {
    margin-bottom: 0;
  }
  .open .dropdown-menu {
    color: #fff;
  }
}
