# Created by .ignore support plugin (hsz.mobi)
Learning/
Work/europasql.py
Would skip repository Work/susanne/
chemistry/JSME_2016-11-13/.directory
chemistry/JSME_2016-11-13/JME_to_JSME.html
chemistry/JSME_2016-11-13/JME_to_JSME_simple.html
chemistry/JSME_2016-11-13/JSME.html
chemistry/JSME_2016-11-13/JSME_SVG.html
chemistry/JSME_2016-11-13/JSME_atom_highlight_demo.html
chemistry/JSME_2016-11-13/JSME_autoresize.html
chemistry/JSME_2016-11-13/JSME_callback_and_star.html
chemistry/JSME_2016-11-13/JSME_chemical_resolver_demo.html
chemistry/JSME_2016-11-13/JSME_depict.html
chemistry/JSME_2016-11-13/JSME_depict_action.html
chemistry/JSME_2016-11-13/JSME_depict_action_callback.html
chemistry/JSME_2016-11-13/JSME_depict_edit_toggle.html
chemistry/JSME_2016-11-13/JSME_depict_smiles.html
chemistry/JSME_2016-11-13/JSME_dnd_demo.html
chemistry/JSME_2016-11-13/JSME_editor_plus_SVG.html
chemistry/JSME_2016-11-13/JSME_hidden.html
chemistry/JSME_2016-11-13/JSME_minimal.html
chemistry/JSME_2016-11-13/JSME_minimal2.html
chemistry/JSME_2016-11-13/JSME_minimal3.html
chemistry/JSME_2016-11-13/JSME_parent_and_metabolites.html
chemistry/JSME_2016-11-13/JSME_resize.html
chemistry/JSME_2016-11-13/JSME_smiles_atom_highlight.html
chemistry/JSME_2016-11-13/JSME_template.html
chemistry/JSME_2016-11-13/JSME_test.html
chemistry/JSME_2016-11-13/SMILE/deferredjs/29DF0B2835625412658FB204CF714553/
chemistry/JSME_2016-11-13/SMILE/deferredjs/371E3C6662B35593D8EEAC357AF604FB/
chemistry/JSME_2016-11-13/SMILE/deferredjs/7545C7F5AEDA074201597DC38919D777/
chemistry/JSME_2016-11-13/SMILE/deferredjs/7B239A256C5B83E9BFD1D3FA42AD9BA2/
chemistry/JSME_2016-11-13/SMILE/deferredjs/7C7DA7904ABFCE544814611726C72168/
chemistry/JSME_2016-11-13/SMILE/deferredjs/91778581BEBB57249BE007CD8FB3AD59/
chemistry/JSME_2016-11-13/SMILE/deferredjs/A4F3FBA837576FD84C9CE5AFCEC0D01A/
chemistry/JSME_2016-11-13/SMILE/deferredjs/CC3A45A19EEC162BCEA2DDF8B67BE76C/
chemistry/JSME_2016-11-13/SMILE/deferredjs/D03026210BE17DF24557A9AF1B21A0FC/
chemistry/JSME_2016-11-13/SMILE/deferredjs/FCF4A57D548CC2A4812803456426F72E/
chemistry/JSME_2016-11-13/api_javadoc++/
chemistry/JSME_2016-11-13/bootstrap.css
chemistry/JSME_2016-11-13/bootstrap.html
chemistry/JSME_2016-11-13/doc.css
chemistry/JSME_2016-11-13/doc.html
chemistry/JSME_2016-11-13/index.html
chemistry/JSME_2016-11-13/jme_examples+++/
chemistry/JSME_2016-11-13/jsme/
chemistry/JSME_2016-11-13/license.txt
chemistry/JSME_2016-11-13/release_notes.txt
Would skip repository chemistry/chemdoodle/
Would skip repository chemistry/chemdoodleclj/
chemistry/jsa.css
Would skip repository chemistry/jsme-for-wordpress/
chemistry/jsme.nocache.js
Would skip repository chemistry/jsme/
Would skip repository chemistry/smiles/
map/963000a9cc891189cfe3-1afbf7e72b6d5d412af9c4a6a40f20d33edba73d/
map/Extreme_ppt_analysis.xlsx
Would skip repository map/Leaflet.heat/
Would skip repository map/conrec.js/
map/contourexample/aaa.json
map/contourexample/googlemap.js
map/contourexample/index.html
map/contourexample/thumbnail.png
Would skip repository map/d3-contouring-example/
map/district.geojson
Would skip repository map/nepalMapTest/
map/nepal_vdc.json
map/z_contours_500_clipped.json
rsz_heat.png
