.app {
  display: flex;
  flex-direction: column;
}
.app .col {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid;
}
.app .col.header {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
}
.app .header {
  display: flex;
  cursor: pointer;
}
.app .body {
  display: flex;
}
.app .row {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}
.app .chart-wrapper {
  display: flex;
}
.app .chart-wrapper .chart {
  width: 100px;
  visibility: hidden;
}
.app .chart-wrapper .chart:nth-child(even) {
  background: #ccc;
}
.app .chart-wrapper .chart:nth-child(odd) {
  background: #fff;
}
.app .chart-wrapper .chart.visible {
  visibility: visible;
}
.app .chart-wrapper .bar-wrapper {
  width: 100px;
  display: flex;
}
.app .chart-wrapper .bar-wrapper .bar {
  fill: grey;
}
.app .chart-wrapper .bar-wrapper .bar.bar-selected {
  opacity: 0.5;
}
.app .chart-wrapper .hist-wrapper {
  width: 100px;
  display: flex;
}
.app .chart-wrapper .hist-wrapper .hist {
  fill: red;
}
