body {
  font: 12px sans-serif;
}
/* For centering */
/*.states path {*/
/*stroke-width: 1px;*/
/*stroke: white;*/
/*fill: #DBDBDB;*/
/*cursor: pointer;*/
/*}*/
/*	.states path:hover, path.highlighted {
        fill: tomato;
    }
*/
.arcs path {
  /*stroke-width: 2px;*/
  /*stroke: tomato;*/
  /*//  pointer-events: none;*/
  fill: none;
}
.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .menu .legend {
  margin-right: 10px;
}
.app .menu .legend .legend-row {
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.app .menu .legend .legend-row .circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.app .menu .legend .legend-row .circle.in {
  background: blue;
}
.app .menu .legend .legend-row .circle.out {
  background: red;
}
.app .menu .legend .legend-row .legend-label {
  padding: 5px;
}
.tooltip2 {
  width: 420px;
  display: flex;
  background: black;
  flex-direction: column;
  height: 125px;
  color: white;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.tooltip2 .country-header {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid;
  width: 100%;
  padding: 5px;
}
.tooltip2 .row {
  height: 30px;
}
.tooltip2 .info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 17px;
}
.tooltip2 .info .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-right: 1px solid;
}
.tooltip2 .info .col:last-child {
  border-right: none;
}
.tooltip2 .info-row {
  height: 22px;
  padding: 5px;
}
.tooltip2 .arrow {
  height: 10px;
  width: 10px;
  background: black;
  /* position: absolute; */
  align-self: center;
  margin-top: -4px;
  transform: rotate(45deg);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: blue;
}
input:focus + .slider {
  box-shadow: 0 0 1px red;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.fa-map-marker:before {
  color: red;
  font-size: 16px;
}
.bar-chart {
  display: flex;
  width: 200px;
  background: #f2f2f2;
  flex-direction: column;
  font-size: 18px;
  color: white;
  visibility: hidden;
}
.bar-chart .bar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.bar-chart .bar-container .inbound-bar {
  width: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-chart .bar-container .outbound-bar {
  width: 50%;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-chart .bar-label {
  height: 30px;
  color: black;
  text-align: center;
}
