@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* For centering */

/*.states path {*/
/*stroke-width: 1px;*/
/*stroke: white;*/
/*fill: #DBDBDB;*/
/*cursor: pointer;*/
/*}*/
/*	.states path:hover, path.highlighted {
        fill: tomato;
    }
*/
.arcs path {
    /*stroke-width: 2px;*/
    /*stroke: tomato;*/
    /*//  pointer-events: none;*/
    fill: none;
}

.arcs {
    .arc-path-inbound {
        &.visible {
            display: block;
        }
        display: none;
    }

    .arc-path-outbound {
        &.visible {
            opacity: 1;
        }
        opacity: 0;
    }
}

@color-inbound: #3e9cd4;
@color-outbound: #ffd700;
@color-black: #404040;

.app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-bar {
        display: flex;
        width: 93%;
        margin-top: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;

        .text-content {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;
            .header-title {
                text-transform: UPPERCASE;
                font-size: 56px;
                padding: 5px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
            }
            .long-text {
                padding: 5px;
                font-weight: 500;
                font-size: 16px;
                text-align: justify;
            }
        }

        .settings-content {
            display: flex;
            flex-basis: 50%;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-self: flex-end;
        }
    }

    .menu {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        width: 65%;
        .legend {
            margin-right: 10px;

            .legend-row {
                height: 30px;
                font-size: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                &.hidden {
                    // text-decoration: line-through;
                }
                .circle {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    &.in {
                        background: @color-inbound;
                    }
                    &.out {
                        background: @color-outbound;
                    }
                }
                .legend-label {
                    padding: 5px;
                    width: 400px;
                }
            }
        }
        .note {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 25px;
        }
        .note-header {
            font-size: 20px;
            font-weight: 500;
            padding: 5px;
            text-transform: UPPERCASE;
        }
        .checkbox-area {
            display: flex;
            align-items: center;
            font-weight: normal;
            .chk-label {
                padding-left: 10px;
            }
        }
    }
    .references {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-size: 11px;
        margin-top: 20px;
        & div {
            padding: 5px;
        }
    }
}

.tooltip2 {
    width: 420px;
    display: flex;
    background: @color-black;
    flex-direction: column;
    height: 150px;
    color: white;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    opacity: 0;
    .country-header {
        height: 30px;
        display: flex;
        align-items: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        width: 100%;
        padding: 5px;
        padding-left: 15px;
        font-weight: 700;
    }
    .row {
        height: 30px;
    }

    .dash-line-top {
        background: transparent;
        border-bottom: 1px solid;
        height: 3px;
        width: 96%;
        margin-bottom: 5px;
    }
    .dash-line-bottom {
        height: 40px;
        background: transparent;
        border-top: 1px solid;
        width: 96%;
        margin-top: 5px;
        display: flex;
        padding: 5px;
        font-size: 12pt;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .info {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 12pt;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 8px;
            border-right: 1px solid;
            &:last-child {
                border-right: none;
            }
        }
    }
    .info-row {
        height: 22px;
        padding: 5px;
    }
    .arrow {
        height: 10px;
        width: 10px;
        background: @color-black;
        /* position: absolute; */
        align-self: center;
        margin-top: -4px;
        transform: rotate(45deg);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @color-outbound;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: @color-inbound;
}

input:focus + .slider {
    box-shadow: 0 0 1px @color-outbound;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fa-map-marker {
    &:before {
        color: @color-black;
        font-size: 16px;
    }
}
.bar-chart {
    display: flex;
    width: 90%;
    background: @color-black;
    flex-direction: column;
    font-size: 18px;
    color: white;
    visibility: hidden;
    align-items: center;
    .bar-container {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: flex-end;

        .inbound-bar {
            width: 50%;
            background: @color-outbound;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outbound-bar {
            width: 50%;
            background: @color-inbound;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .bar-label {
        height: 30px;
        color: white;
        text-align: center;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & div {
            flex-basis: 50%;
            width: 50%;
        }
    }
}
