.line {
  fill: none;
  stroke: darkgrey;
  stroke-width: 5px;
  clip-path: url(#clip);
}
.hyper,
.hypo {
  stroke: red;
  stroke-width: 3;
}
.target {
  stroke: green;
  stroke-width: 3;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
