
.node {
  cursor: pointer;

}

.node circle {
  stroke: black;
  stroke-width: 2.5px;
}

.node text {
  font: 14px fantasy;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}

.tooltip {
  display: none;
}
