.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.container .main {
  display: flex;
  flex-direction: column;
}
.container .main .lineFilter {
  display: flex;
  justify-content: flex-end;
}
.container .main .lineFilter > div {
  padding: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.container .main .lineFilter .weekday {
  background: lightblue;
}
.container .main .lineFilter .weekend {
  background: green;
}
.container .main .chartContainer {
  display: flex;
  width: 80vw;
  height: 80vh;
}
.container .main .chartContainer .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
}
.container .main .chartContainer .col .line {
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
}
.container .main .chartContainer .col .bar {
  flex-basis: 100%;
  flex-grow: 1;
  fill: orange;
}
.container .main .chartContainer .col .pie {
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
}
.container .main .chartContainer .col .time {
  flex-basis: 100%;
  flex-grow: 1;
  fill: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container .main .chartContainer .col .time .header {
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.container .main .chartContainer .col .time .header .transparent {
  background: transparent;
  flex-basis: 25%;
  flex-grow: 1;
  height: 30px;
}
.container .main .chartContainer .col .time .header > div {
  padding: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}
.container .main .chartContainer .col .time .timeBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-basis: 80%;
  width: 90%;
}
.container .main .chartContainer .col .time .timeBody .row {
  font-size: 20px;
  display: flex;
  height: 30px;
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.container .main .chartContainer .col .time .timeBody .row .legendColor {
  flex-basis: 25%;
  flex-grow: 1;
  height: 30px;
}
.container .main .chartContainer .col .time .timeBody .row > div {
  padding: 5px;
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}
.container .mainBottom .heatFilter {
  display: flex;
  justify-content: center;
}
.container .mainBottom .heatFilter > div,
.container .mainBottom .heatFilter select {
  padding: 10px;
  margin-left: 10px;
}
.line .area1 {
  fill: grey;
  fill-opacity: 0.2;
}
.line .area2 {
  fill: grey;
  fill-opacity: 0.2;
}
.line .line1 {
  stroke: lightblue;
  stroke-width: 3;
  fill: none;
}
.line .line2 {
  fill: none;
  stroke: green;
  stroke-width: 3;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}
.arc path {
  stroke: #fff;
}
rect.bordered {
  stroke: #e6e6e6;
  stroke-width: 2px;
}
text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}
text.axis-workweek {
  fill: #000;
}
text.axis-worktime {
  fill: #000;
}
.infoPanel {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background: #efeeee;
}
.infoPanel .box {
  flex-basis: 70%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.infoPanel .box .innerbox {
  border: 1px solid;
  font-size: 20px;
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 91%;
}
.infoPanel .box.filter {
  flex-basis: 30%;
  border: 1px solid;
}
.infoPanel .box.filter .heatFilter {
  display: flex;
  font-size: 22px;
  justify-content: space-around;
  flex-basis: 100%;
  flex-grow: 1;
}
.infoPanel .box.filter .heatFilter select {
  font-size: 18px;
  margin: 10px;
}
