body {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.handle-bar {
  margin-top: 20px;
  display: flex;
  min-width: 300px;
  justify-content: space-around;
  width: 80%;
  font-size: 30px;
}
input[type='range'] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 50%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 50%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
  background: #424242;
  border-radius: 5px;
  border: 1px solid black;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #111, 0px 0px 1px #1e1e1e;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
input[type='range']::-moz-range-track {
  width: 50%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
  background: #424242;
  border-radius: 5px;
  border: 1px solid black;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #111, 0px 0px 1px #1e1e1e;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 50%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #353535;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
}
input[type='range']::-ms-fill-upper {
  background: #424242;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #222, 0px 0px 2px #2f2f2f;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #111, 0px 0px 1px #1e1e1e;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #424242;
}
input[type='range']:focus::-ms-fill-upper {
  background: #4f4f4f;
}
