.heatmap {
  background: grey;
  display: flex;
}
.heatmap .col {
  width: 200px;
  height: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}
.heatmap .col .top {
  height: 80%;
  background: rebeccapurple;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.heatmap .col .top .inset {
  background: #1aa4cd;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heatmap .col .bottom {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.heatmap .col .bottom .label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: capitalize;
}
