body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body svg {
  margin-top: 50px;
}
body #singleheatmap .background-rect {
  fill: grey;
}
body #scorestackchart .sent text {
  font-size: 20px;
  fill: black;
}
body #scorestackchart .reach {
  font-size: 35px;
  fill: black;
}
body #scorestackchart .addUOpenEl {
  font-size: 20px;
  fill: black;
}
body #scorestackchart .addTopTriangleText {
  font-size: 18px;
}
body #scorestackchart .pie .bigText {
  font-size: 30px;
}
body #scorestackchart .pie .diffText {
  font-size: 15px;
}
body .foreignObject {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  height: 100%;
}
body .foreignObject div {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  text-align: center;
}
