.app {
    .heatmap-container {
        height: 300px;
        .heatmap {
            width: 700px;
            height: 200px;
            background: grey;
            display: flex;
            .col {
                width: 200px;
                height: 100%;
                display: flex;
                flex-direction: column;
                .top {
                    height: 100%;
                    background: rebeccapurple;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;

                    .inset {
                        background: #1aa4cd;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .bottom {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .label {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                text-transform: capitalize;
            }
            .scoreCol {
                display: flex;
                flex-direction: column;

                flex-basis: 100%;
                flex-grow: 1;
                align-items: center;
            }
        }
    }

    .stackedChart-container {
        display: flex;

        .legends {
            display: flex;
            width: 200px;
            flex-direction: column;

            .legendColumn {
                text-transform: capitalize;
                height: 25px;
                padding: 5px;
                width: 100%;
                display: flex;
                border-bottom: 1px solid;
                .name {
                    width: 80%;

                }
                .color {
                    width: 20%;
                    height: 100%;
                }
            }
        }
    }
}

.heatmap1 {
    background: red;
    width: 700px;
    height: 200px;
}
