.color-lineY11 {
  fill: none;
  stroke: #e41a1c;
  background: #e41a1c;
  clip-path: url(#clip);
}

.color-lineY12 {
  fill: none;
  stroke: #377eb8;
  background: #377eb8;
  clip-path: url(#clip);
}

.color-lineY13 {
  fill: none;
  stroke: #4daf4a;
  background: #4daf4a;
  clip-path: url(#clip);
}

.color-lineY21 {
  fill: none;
  stroke: #984ea3;
  background: #984ea3;
  clip-path: url(#clip);
}

.color-lineY22 {
  fill: none;
  stroke: #ff7f00;
  background: #ff7f00;
  clip-path: url(#clip);
}

.color-lineY31 {
  fill: none;
  stroke: #a65628;
  background: #a65628;
  clip-path: url(#clip);
}

.lineY11 {
  fill: none;
  stroke: #e41a1c;
  background: #e41a1c;
  clip-path: url(#clip);
}

.lineY12 {
  fill: none;
  stroke: #377eb8;
  background: #377eb8;
  clip-path: url(#clip);
}

.lineY13 {
  fill: none;
  stroke: #4daf4a;
  background: #4daf4a;
  clip-path: url(#clip);
}

.lineY21 {
  fill: none;
  stroke: #984ea3;
  background: #984ea3;
  clip-path: url(#clip);
}

.lineY22 {
  fill: none;
  stroke: #ff7f00;
  background: #ff7f00;
  clip-path: url(#clip);
}

.lineY31 {
  fill: none;
  stroke: #a65628;
  background: #a65628;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.legends {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  .row {
    border: 1px solid;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    div {
      margin-right: 5px;
    }
    div:nth-child(2) {
      flex-basis: 10%;
    }
    .name {
      flex-basis: 40%;
      overflow: hidden;
    }

    .unit {

    }

  }
}

.mode {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 5px;

  &.dark {
    background: aqua;
  }
}

.darkChart {
  background: black;
}

.darkMode {
  path, line, text {
    stroke: white;

  }

}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  text-align: center;
  margin-top: 11px;
}

.bottom-container {
  display: flex;
  justify-content: space-around;

  .mode-container {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    .control {
      height: 50px;
      font-size: 30px;
      font-weight: bold;
      border: 1px solid;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      cursor: pointer;

    }
  }
}
