.lineY11 {
  fill: none;
  stroke: #e41a1c;
  background: #e41a1c;
  clip-path: url(#clip);
}

.lineY12 {
  fill: none;
  stroke: #377eb8;
  background: #377eb8;
  clip-path: url(#clip);
}

.lineY13 {
  fill: none;
  stroke: #4daf4a;
  background: #4daf4a;
  clip-path: url(#clip);
}

.lineY21 {
  fill: none;
  stroke: #984ea3;
  background: #984ea3;
  clip-path: url(#clip);
}

.lineY22 {
  fill: none;
  stroke: #ff7f00;
  background: #ff7f00;
  clip-path: url(#clip);
}

.lineY31 {
  fill: none;
  stroke: #a65628;
  background: #a65628;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.container {
  display: flex;
  .legends {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 420px;
    .row {
      border: 1px solid;
      display: flex;
      font-size: 17px;
      margin-left: -50px;
      cursor: pointer;
      div {
        margin-right: 5px;
      }
      div:nth-child(2) {
        flex-basis: 10%;
      }
      .name {
        flex-basis: 40%;
        overflow: hidden;
      }

      .unit {

      }

    }
  }
}