.line1 {
  fill: none;
  stroke: blue;
  clip-path: url(#clip);
}
.line2 {
  fill: none;
  stroke: red;
  clip-path: url(#clip);
}
.line3 {
  fill: none;
  stroke: green;
  clip-path: url(#clip);
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
