.color-lineY11 {
  fill: none;
  stroke: #e41a1c;
  background: #e41a1c;
  clip-path: url(#clip);
}
.color-lineY12 {
  fill: none;
  stroke: #377eb8;
  background: #377eb8;
  clip-path: url(#clip);
}
.color-lineY13 {
  fill: none;
  stroke: #4daf4a;
  background: #4daf4a;
  clip-path: url(#clip);
}
.color-lineY21 {
  fill: none;
  stroke: #984ea3;
  background: #984ea3;
  clip-path: url(#clip);
}
.color-lineY22 {
  fill: none;
  stroke: #ff7f00;
  background: #ff7f00;
  clip-path: url(#clip);
}
.color-lineY31 {
  fill: none;
  stroke: #a65628;
  background: #a65628;
  clip-path: url(#clip);
}
.lineY11 {
  fill: none;
  stroke: #e41a1c;
  background: #e41a1c;
  clip-path: url(#clip);
}
.lineY12 {
  fill: none;
  stroke: #377eb8;
  background: #377eb8;
  clip-path: url(#clip);
}
.lineY13 {
  fill: none;
  stroke: #4daf4a;
  background: #4daf4a;
  clip-path: url(#clip);
}
.lineY21 {
  fill: none;
  stroke: #984ea3;
  background: #984ea3;
  clip-path: url(#clip);
}
.lineY22 {
  fill: none;
  stroke: #ff7f00;
  background: #ff7f00;
  clip-path: url(#clip);
}
.lineY31 {
  fill: none;
  stroke: #a65628;
  background: #a65628;
  clip-path: url(#clip);
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.legends {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 350px;
}
.legends .row {
  border: 1px solid;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}
.legends .row div {
  margin-right: 5px;
}
.legends .row div:nth-child(2) {
  flex-basis: 10%;
}
.legends .row .name {
  flex-basis: 40%;
  overflow: hidden;
}
.mode {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}
.mode.dark {
  background: aqua;
}
.darkChart {
  background: black;
}
.darkMode path,
.darkMode line,
.darkMode text {
  stroke: white;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 400px;
}
.bottom .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.bottom .header span {
  cursor: pointer;
}
.chart {
  text-align: center;
  margin-top: 11px;
}
.bottom-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  -webkit-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
}
.bottom-container .mode-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-container .mode-container .control {
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  line-height: 50px;
}
.bottom-container .mode-container .control.selected {
  background: steelblue;
}
.brush-grp .axis {
  visibility: hidden;
}
.brush-grp .brush {
  visibility: visible;
}
.slope-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.slope-container .midpoint {
  transform: scale(2);
}
.flagTable {
  width: 300px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
  right: 25px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.flagTable .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flagTable .header span {
  cursor: pointer;
}
.flagTable p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.flagTable .inner-items {
  align-items: center;
  display: none;
  flex-direction: column;
}
.flagTable .inner-items .flagItem {
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin-bottom: 15px;
  -webkit-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.75);
}
.flagTable .inner-items .flagItem .header {
  display: flex;
  height: 25px;
  background: lightblue;
}
.flagTable .inner-items .flagItem .header.highlighted {
  background: orange;
}
.flagTable .inner-items .flagItem .header .flagValue {
  width: 90%;
  border-right: 1px solid;
}
.flagTable .inner-items .flagItem .header .deleteFlag {
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.flagTable .inner-items .flagItem .row {
  height: 25px;
  display: flex;
}
.flagTable .inner-items .flagItem .row:nth-child(even) {
  background: #CCC;
}
.flagTable .inner-items .flagItem .row:nth-child(odd) {
  background: #FFF;
}
.flagTable .inner-items .flagItem .row .flagValue {
  width: 90%;
  border-right: 1px solid;
}
.flagTable .inner-items .flagItem .row .color {
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.brush .overlay {
  stroke: black;
  stroke-width: 1.5;
}
.brush .selection {
  stroke: none;
}
.fa.hidden {
  visibility: hidden;
}
.flag {
  cursor: pointer;
}
.flag .flags {
  fill: black;
}
.flag .flags.highlighted {
  fill: orange;
}
.flag .flagsLine {
  stroke: red;
  fill: none;
}
.delete {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 70px;
  padding: 2px;
  font: 21px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
.delete .confirm {
  border-bottom: 1px solid;
}
.delete .action {
  cursor: pointer;
}
